body {
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: 48px;
  
  @media (max-width: $breakpoint-tablet) {
    font-size: 36px;
  }
  
  @media (max-width: $breakpoint-mobile) {
    font-size: 28px;
  }
}

h2 {
  font-size: 36px;
  
  @media (max-width: $breakpoint-tablet) {
    font-size: 28px;
  }
  
  @media (max-width: $breakpoint-mobile) {
    font-size: 24px;
  }
}

h3 {
  font-size: 24px;
  
  @media (max-width: $breakpoint-tablet) {
    font-size: 20px;
  }
  
  @media (max-width: $breakpoint-mobile) {
    font-size: 18px;
  }
}

p {
  margin-bottom: $spacing-sm;
  
  &:last-child {
    margin-bottom: 0;
  }
}
